html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Comfortaa', cursive;
}
p{
	font-size: 14px!important;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Carter One', cursive;
}
.nav-item a:hover{
	color: #FEAC1C !important;
}
nav.dua{
	background-color: #fff;
}

.dropdown-toggle,
.dropdown-menu {
    border-radius: 5px !important;
}
.dropdown-item:hover {
  background-color: #FFD86F;
}

.dropdown:hover>.dropdown-menu {
	display: block;
}

/* .carousel-item img {
	height: 750px;
} */

/* .carousel-caption {
	font-family:  Arial, Helvetica, sans-serif;
	color: #2a3855;
	margin-bottom: 5%;
	width: 45%;
	background-color: rgba(236, 240, 241,0.7);
	font-weight: bold;
	border-radius: 8px;
} */
.carousel-caption{
	text-align: left!important;
	background: #00000063;
	padding: 15px;
	margin-bottom: 5em;
}
.margin{
	margin-top: 6em; 
}

@media only screen and (max-width: 768px){
	.carousel-caption{
		text-align: left!important;
		background: #00000063;
		padding: 15px;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 400px){
	.carousel-caption{
		text-align: left!important;
		background: #00000063;
		padding: 15px;
		margin-bottom: 0;
	}
	.carousel-caption p{
		font-size: 10px!important;
	}
}

/* .carousel-caption h1 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 70px;
}

.carousel-caption h3 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(241, 196, 15,1.0);
	font-size: 18px;
	padding: 10px;
	border-radius: 8px;
	margin-top: 30px;
}

.carousel-caption h3:hover {
	background-color: #f39c12;
	transition: 0.3s;
} */


section hr {
	width: 25%;
	margin-bottom: 50px;
	background-color: orange;
}

.bgc1{
	background-color: #F1C40F;
}

.bgc2{
	background-color: #f39c12;
}
.line-white{
	border: 1px solid #fff;
}
.line-ember{
	border: 1px solid #FF8800;
}

.paketumrah img {
	width: 100%;
	margin-bottom: 20px;
}

/* .paketumrah h4 {
	background-color: rgba(241, 196, 15,1.0);
	text-align: center;
	border-radius: 5px;
} */

.profile img {
	margin-bottom: 20px;
}



section.separate.genap {
	height: 200px;
	background-color: #f39c12;
}

section.separate.ganjil {
	height: 200px;
	background-color: rgba(241, 196, 15,1.0);
}

section.sosmed {
	height: 60px;
	text-align: center;
	background-color: #FF8800;
}

section.sosmed i {
	margin-top: 15px;
	margin-right: 50px;
}

section.contact {
	height: 350px;
	background-color: #2e2e2e;
}

footer {
	background-color: #2e2e2e;
}

footer h1 {
	margin-top: 70px;
}

footer hr {
	background-color: #f39c12;
	width: 25%;
	text-align: left;
	margin-left: 0;
}

footer span {
	margin-right: 10px;
}

.cp {
	background-color: #212529;
}

.cp h6 {
	margin-top: 10px;
	color: snow;

}


.float{
	position:fixed;
	bottom:40px;
	right:10px;
	text-align:center;
  font-size:30px;
  z-index:100;
  opacity: 0.9;
}

.my-float{
	margin-top:16px;
}

.cp {
	height: 50px;
}
.imcon{
	max-width: 64px;
	max-height: 64px;
}


.zoom:hover {
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
	position: relative;
	cursor: pointer;
}

.boxzoom:hover{
	box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
	position: relative;
	padding: 10px;
    background-color: #FF8800;
}

.boxshadow-white:hover{
	box-shadow: 0 1px 15px 5px rgba(0,0,0,.16);
	/* padding: 10px; */
    background-color: #fff;
}

.font-lg{
	font-size: 4em;
}

.text-ember{
	color: #FF8800!important;
}